.about-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.about-text {
  flex: 1;
  margin-right: 24px;
}

.separator {
  margin: 40px 0;
  border: 0;
  border-top: 2px solid #ececec; 
}

.about-image img,
.about-content img {
  max-width: 100%; /* Make images responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: Add rounded corners */
}

.slick-slide img {
  width: 280px;
  height: 250px;
  object-fit: cover;
  margin: auto;
  border-radius: 8px;
}

.slick-prev,
.slick-next {
  font-size: 30px;
  color: #d9d9d9;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  color: #fefefe;
  font-size: 30px;
}

.slick-prev {
  left: 4px;
}

.slick-next {
  right: 16px;
}

/* Corrected hover color */
.slick-prev:hover:before,
.slick-next:hover:before {
  color: #d9d9d9;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-text {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .slick-slide img {
    width: 100%;
    height: auto;
  }

  .slick-prev,
  .slick-next {
    font-size: 24px;
  }
}
