* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background-color: #f7f7f7;
  color: #333;
}

.page-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 900px;
}

.intro-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 90px;
}

.intro-text h1 {
  font-size: 3rem;
  margin: 0;
}

.bigger-text {
  font-size: 1.55rem;
  margin: 10px 0;
}

.text {
  font-size: 1.2rem;
  margin: 20px 0;
}

.intro-pic {
  width:100%;
  max-width: 420px;
  height: auto;
}

.separator-design {
  display: block;
  max-width: 100%;
  height: auto;
}

.intro-tags {
  text-align: right;
  margin-left: 24px;
  font-size: 2rem;
}

.intro-tags p {
  margin: 5px 0;
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.intro-tags p:hover {
  transform: scale(1.2);
  color: #007bff;
  font-weight: bold;
}

.project-header {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@keyframes planeMove {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.portfolio-work h2 {
  font-size: 1.5rem;
  margin-bottom: 24px;
}

/* Work grid layout */
.work-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two items per row */
  gap: 48px;
  margin-top: 24px;
}

.work-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.3s ease-in-out;
}

.work-item:hover {
  transform: scale(1.05);
}

.work-link {
  text-decoration: none;
  color: #333;
  position: relative;
  cursor: url("./images/homepage/cursor.png"), auto;
}

.work-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.work-details h3 {
  margin: 0 0 10px 0;
}

.work-details p {
  margin: 0 0 10px 0;
}

.work-tags {
  display: flex;
  gap: 10px;
}

.work-tags span {
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #555;
}

/* Responsive design */
@media (max-width: 768px) {
  .intro-content {
    padding-top: 50px; 
    flex-direction: column;
    align-items: flex-start;
  }

  .intro-text h1 {
    font-size: 2rem; 
  }

  .bigger-text,
  .text {
    font-size: 1rem;
  }

  .work-grid {
    grid-template-columns: 1fr; 
  }

  .work-tags {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .work-image {
    max-width: 100%; 
  }
}

@media (max-width: 480px) {
   .intro-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .intro-text h1 {
    font-size: 1.5rem; 
  }

  .bigger-text,
  .text {
    font-size: 0.9rem; 
  }

  .work-details h3 {
    font-size: 1rem;
  }

  .work-tags span {
    font-size: 0.8rem; 
    padding: 4px 8px;
  }
}