/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

/* h2,
h3,
h4 {
  margin-bottom: 16px;
} */

h2 {
  font-size: 2rem;
}

h1 {
  margin-bottom: 24px;
}

p,
ul {
  font-size: 1.05rem;
  line-height: 1.7;
}

ul {
  margin: 10px;
  margin-left: 14px;
  line-height: 1.7;
}
/* 
section {
  padding-bottom: 32px;
} */

/* Content Container */
.content-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 24px;
}

/* Header Section */
.project-header {
  text-align: left;
  margin-bottom: 30px;
}

.project-title {
  font-size: 2.8rem;
  font-weight: 700;
}

/* Project Details */
.project-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.detail-item h4 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.detail-item p {
  font-size: 1rem;
}

/* Project Image */
.project-image {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
}

.project-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.solution-section p {
  margin-bottom: 64px;
}

/* Solution section */

.feature-container {
  display: flex;
  flex-direction: column;
  gap: 140px;
  max-width: 850px;
  margin: 0 auto;
}

.feature-item {
  display: flex;
  align-items: center;
}
.feature-text {
  flex: 1;
  margin-right: 64px;
}

.feature-image {
  max-width: 250px;
  height: auto;
}

/* PasswordProtectedPage.css */

.password-protected-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; /* Full height of the viewport */
  padding: 20px;
  background-color: #f9f9f9; /* Light background for contrast */
  text-align: center;
}

/* .password-form { */
  /* background: white;  */
  /* padding: 30px; */
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
/* } */

.password-form h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.password-form input {
  margin-bottom: 15px;
  padding: 12px 15px;
  font-size: 16px;
  width: 300px; 
  border: 1px solid #ccc; 
  border-radius: 8px 0 0 8px; 
}

.password-form button {
  padding: 12px 20px;
  font-size: 16px;
  color: #efefef; 
  background-color: #424242; 
  border: none; 
  border-radius: 0 8px 8px 0; 
  cursor: pointer; 
  transition: background-color 0.3s;
}

.password-form button:hover {
  background-color: #424242; /* Darker blue on hover */
}

.password-icon {
  margin-bottom: 15px;
  font-size: 36px; /* Icon size */
  color: #424242; /* Match the button color */
}


/* .password-protected-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 20px;
  text-align: center;
}

.password-protected-page h2 {
  margin-bottom: 20px;
}

.password-protected-page input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  width: 250px; 
}

.password-protected-page button {
  padding: 12px 20px;
  font-size: 16px;
  border: none; 
  background-color: #424242;
  color: #efefefef;
  border-radius:0 8px 8px 0; 
  cursor: pointer; 
  transition: background-color 0.3s;
}

.password-icon {
  margin-bottom: 10px;
  font-size: 24px; 
} */

/* Responsive Design */
@media (max-width: 768px) {

  .content-container {
    margin: 30px auto;
  }

  .project-title {
    font-size: 2rem;
  }

  .project-subtitle {
    font-size: 1rem;
  }

  .problem-section h2,
  .solution-section h2,
  .research-section h2 {
    font-size: 1.5rem;
  }

  .detail-item h4 {
    font-size: 1rem;
  }

  .detail-item p {
    font-size: 0.9rem;
  }

}

@media (max-width: 600px) {
  .content-container {
    padding: 10px;
  }

  .project-details {
    flex-direction: column;
  }

  .detail-item {
    margin-bottom: 20px;
  }

  .project-title {
    font-size: 1.8rem;
  }

  .problem-section h2,
  .solution-section h2,
  .research-section h2 {
    font-size: 1.4rem;
  }

  .project-subtitle {
    font-size: 0.9rem;
  }

}

