.footer-container {
  max-width: 900px;
  margin: 32px auto;
  padding: 10px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  color: #333;
  padding: 10px 20px;
  border-top: 2px solid #ececec;
}

.footer-left {
  text-align: left;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer a {
  color: #333;
  text-decoration: none;
  margin-left: 24px;
}

.footer a:hover {
  text-decoration: underline;
}

.icon {
  font-size: 26px;
}
