* {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  border-bottom: 2px solid #ececec;
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-left: 16px;
}

.nav-link {
  color: #6f6e6e;
  font-size: medium;
  padding: 0.4rem 1rem;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

.nav-link.active {
  color: #333;
  font-weight: bold;
  border-radius: 5px;
}

.nav-link:hover {
  color: #333;
  font-weight: bold;
}

.logo {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
}
